.Home {
    background-image: url('https://img.huffingtonpost.com/asset/5a3126821500004e0049b6c9.jpeg?ops=scalefit_720_noupscale');
    background-size: auto;
    height: 480px;
    width: 700px;
    margin-left: 350px;
    border-radius: 20px;
}